doctype html
head
  meta(charset='UTF-8')
  title Cadastro de Código Postal
  link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
  link(rel='stylesheet prefetch' href='https://unpkg.com/vuetify/dist/vuetify.min.css')
#app(style='padding: 0px 20px 0px 20px')
  v-form(ref='form' v-model='valid' lazy-validation='')
    v-app#inspire
      v-container(fluid='' grid-list-md='')
        h1.display-1 Cadastro de Código Postal

        v-layout(row='' wrap='')
          v-flex(d-flex='' xs12='' sm4='' md4='')
            v-text-field(mask='##.###-###' v-model='cep' label='CEP' :rules='[rules.required]' required='' @change='BuscarCEP()')
          v-flex(d-flex='' xs12='' sm8='' md8='')
            v-autocomplete(:loading='lcidade' :items='icidade' item-text="nome" item-value="codigo" :search-input.sync='scidade' v-model='cidade' label='Cidade' return-object='')

        v-layout(row='' wrap='')        
          v-flex(d-flex='' xs12='' sm4='' md4='')
            v-text-field(v-model='uf' label='UF' :rules='[rules.required]' required='')
          v-flex(d-flex='' xs12='' sm8='' md8='')
            v-combobox(:items='bairro_items' v-model='bairro' label='Bairro')


script(src='https://unpkg.com/jquery/dist/jquery.min.js')
script(src='https://unpkg.com/babel-polyfill/dist/polyfill.min.js')
script(src='https://unpkg.com/vue/dist/vue.min.js')
script(src='https://unpkg.com/vuetify/dist/vuetify.min.js')
script(src='https://unpkg.com/vue-resource/dist/vue-resource.min.js')
script(src='js/cep.js')