md-dialog-content(style="height:568px;width:320px;overflow:scroll;")
  #dialog-content.md-dialog-content
    iframe(src="http://www.google.com/", frameborder="0", allowfullscreen="", style="position: absolute;top: 0;left: 0;width: 100%;height: 90%;", align="center")
