md-dialog(aria-label="Localizar Imóvel",flex='80')
  form(ng-cloak="")
    md-toolbar
      .md-toolbar-tools
        h2 Localizar Imóvel    
        span(flex="")
        md-button.md-icon-button(ng-click="Cancel()")
          md-icon(md-svg-src="img/fechar.svg", aria-label="Fechar diálogo")
    md-dialog-content
      .md-dialog-content
        div(layout='row')
          md-input-container.md-block(style='margin-top: 10px;')
            label campo
            md-select(ng-model='campopesq')
              md-option(value='prop') Proprietário
              md-option(value='insc') Inscrição / Incra
            
          md-input-container.md-block(flex='',style='margin-top: 10px;')
            label localizar
            input(ng-model='txtpesquisa')

          #btLocalizarExe.md-button.md-raised.md-primary.md-hue-3(
            ng-click='LocalizarExe(campopesq, txtpesquisa)', style='height: 10px;',
            ng-disabled='txtpesquisa==undefined') Executar

        div(layout='row')
          div(flex="") Proprietário
          div(flex="") Inscrição / Incra
          div(flex="") Tipo
          div(flex="") Quadra/Bloco
          div(flex="") Lote/UN

        div(layout='row', ng-repeat="d in l_dados")
          div(flex="") 
            a(ng-click="ExibirImovel(d.codigo)") {{d.proprietario}}
          div(flex="") {{d.inscricao_incra}}
          div(flex="") {{d.tipo}}
          div(flex="") {{d.quadra_bloco}}
          div(flex="") {{d.lote_unidade}}

    md-dialog-actions(layout="row")
      span(flex="")
      md-button.md-raised(type='button', ng-click="Cancel()") Fechar